<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="fastapitutorial.com" content="Nofoobar">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script>
        var css_link = "{{ url_for('static', path='css/custom.css') }}";
        if (css_link.startsWith('http://')) {
            css_link = css_link.replace('http://', 'https://');
        }
    
        var linkElement = document.createElement('link');
        linkElement.rel = 'stylesheet';
        linkElement.href = css_link;
        document.head.appendChild(linkElement);
    </script>
    <link rel="stylesheet" href="{{ url_for('static', path='css/custom.css', _external=True, _scheme=request.url.scheme) }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.3.136/pdf_viewer.min.css" integrity="sha512-Cq5XgEsaLgxVXOIAn0dHWEksHM6X9POVKcaD1dGc37C6O+vWl5UIxtgC05JW9WnZA7jll4ouJ3zXDJ6/7RDX7g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block title %}{% endblock %}
</head>
<body>
    {% include "components/navbar.html" %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
